.html-message{
    font-size: 1.85rem;
    margin-left: auto;
    margin-right: auto;
}
.swal2-actions button{
    margin-left: auto;
    margin-right: auto;
}
.custom-cancel, .custom-confirm{
    padding: 5px 10px;
    border-radius: 10px;
}
.custom-confirm{
    background-color: #3d9fd8;
    color: white;
}
.custom-cancel{
    background-color: #c3c2c2;
    color: #787979;
}